/* すべてのページに適用される */
body {
    margin: 0;
    background-color: #eee;
    color: #222;
    font-family: sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h2 {
    /*線の種類（実線） 太さ 色*/
    border-bottom: solid 3px rgb(61, 61, 61);
    width: 280px;
    color: rgb(61, 61, 61);
}
a:link{
	color: #0e3367;
}
a:visited{
	color: #0e3367;
}
a:hover{
	color: #0e3367;
}
a:active{
	color: #0e3367;
}
li {
	text-align: center;	
	display: inline;
	list-style-type: none;
}
#loading {
    /* width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; */
    transition: all 1s;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background:#fff;
    text-align:center;
  }
.loaded {
    opacity: 0;
    visibility: hidden;
}
#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#spinner img {
    width: 50vw;
}
/* フッター */

.footer05 {
    margin-top: 80px;
    color: #fcfcfc;
    background: #151e36;
    padding: 30px;
   }
   .footer05 a {
    color: #fcfcfc;
    text-decoration: none;
   }
   .footer05 li a:hover {
    text-decoration: underline;
   }
   .footer05 .wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }
   .footer05 .wrap h3 {
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: 1px #c4c4c4 solid;
   }
   .footer05 .wrap p {
    margin: 0;
    padding: 0 0 20px 0;
   }
   .footer05 .wrap .box {
    width: 22%;
   }
   .footer05 .wrap .box ul {
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
   }
   .footer05 .wrap .none-box {
    width: 22%;
   }
   .footer05 .wrap .none-box ul {
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
   }
   

/* トップページに適用される */
.OTHERS{
    margin-left: 70px;
    color: rgb(89, 89, 89);
    display: flex;
}
.ABOUT_THIS_WEBSITE{
    margin: 0;
	padding: 0;
	position: relative;
}
.ABOUT_THIS{
    border-bottom: solid 1px rgb(143, 143, 143);
}
.BREAK_ARTISTS{
    margin-top: 100px;
    margin-left: 70px;
}
.twitter-timeline{
    margin: 0 0 0 190px;
	padding: 0;
}
.BREAK_ARTISTS-overview{
    margin-top: 8px;
    color: rgb(89, 89, 89);
}
.movie {
    margin-top: 30px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
}
.movie_text{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}

.movie_text1{
    font-size: 15px;
    word-break: break-all;
}
.movie_text2{
    font-size: 14.8px;
}
.OFFICIAL_SNS {
    position: absolute;
}
.SNS_TWITTER {
    margin: 0 0 10px 200px;
	padding: 0;
    font-weight: bold;
    border-bottom: solid 2px rgb(43, 139, 184);
}

.SNS_YOUTUBE{
    margin-top: 100px;
    margin-left: 70px;
}
.fa-brands{
    margin-right: 20px;
}
/* めも */
/* :root {
    --v--space: clamp(90px,2vw,120px);
}
.posts {
    padding: var(--v--space) 0;
} */

/* 番組説明文 */
.TV_other {
    width: 540px;
    word-wrap: break-word;
}
.TV {
    margin-top: 25px;
    margin-bottom: 5px;
}

/* プロフィールページに適用される */
.header {
    height: 112px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 5px rgb(129, 129, 129));
    margin: 0 auto;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.dli-caret-circle-fill-right {
    display: inline-block;
    vertical-align: middle;
    color: rgb(120, 151, 187);
    line-height: 1;
    position: relative;
    width: 3em;
    height: 3em;
    border: 0.1em solid currentColor;
    background: currentColor;
    border-radius: 50%;
    box-sizing: content-box;
  }
  
  .dli-caret-circle-fill-right::before {
    content: '';
    color: #fff;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0.8em 1em;
    border-left-color: currentColor;
    border-right: 0;
    transform: translateX(15%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .dli-caret-circle-fill-left {
    display: inline-block;
    vertical-align: middle;
    color: rgb(120, 151, 187);
    line-height: 1;
    position: relative;
    width: 3em;
    height: 3em;
    border: 0.1em solid currentColor;
    background: currentColor;
    border-radius: 50%;
    box-sizing: content-box;
  }
  
  .dli-caret-circle-fill-left::before {
    content: '';
    color: #fff;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0.8em 1em;
    border-right-color: currentColor;
    border-left: 0;
    transform: translateX(-15%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/* 画像に影を入れる */
.img_shadow {
    filter: drop-shadow(0px 0px 5px rgb(129, 129, 129));
}
.images-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_img {
    padding-top: 100px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.profile_img h1 {
    text-align: center;
    color: #2B2D44;
}
.list {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 35px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}
.profile_img img {
    width:400px;
    padding-left: 30px;
    padding-right: 30px;
}
.profile>h1{
    color: #2B2D44;
    text-align: center;
    border-bottom: solid 2px rgb(61, 61, 61);
}
.profile_YOUTUBE>h1{
    color: #2B2D44;
    text-align: center;
    border-bottom: solid 2px rgb(61, 61, 61);
}
.recommend_MOVIE{
    margin-top: 50px;
    color: #2B2D44;
    text-align: center;
}
.recommend_MOVIE00{
    margin-top: 50px;
    color: #2B2D44;
    text-align: center;
    margin-left: -120px;
}
.profile {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_YOUTUBE>h1{
    margin-top: 20px;
    text-align: center;
}

img {
    border-style: none;
}

/* トップページコンテンツ */

.content-text>a{
    text-decoration:none;
}
.content-text {
    font-weight: bold;
    margin-top: 12px;
    max-width: 250px;
    background-color: rgb(249, 252, 252);
    margin: 0 auto;
}
.content1{
    margin-top: 100px;
    align-items: center;
}
/* .content2{
    margin-top: 40px;
    align-items: center;
} */
.content-pic {
	display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
    gap:10px 70px;
	list-style: none;
	padding: 0 60px 0 60px;
}
.content-pic2{
	cursor: pointer;
	margin: 30px 0 0 0;
}
.content-pic img {
	transition: 1s all;
    border-radius: 6px;
    margin: 0;
}
.content-pic img:hover{
	transform: scale(1.1,1.1);
	transition: 1s all;
}

/* ヒーロー */
.hero {
    height: 650px;
    width: 100vw;
    background-image: url(../img/main.jpg);
    background-position: center;
    background-size: cover;
}
.logo1 {
    display: inline-block;
    margin-left: 450px;
    margin-top: 350px;
}

/* ○×判定ボタン */
.btn-box {
    width: 40%;
    /* height: 100px;*/
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content:space-around;
  }
.all_btn{
    margin-top: 5px;
}
.btn-box button {
    padding: 8px;
    border: none;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}
  
 /* ボタンをマウスホバーしたとき、ボタンを薄くする */
.btn-box button:hover {
    opacity: .7;
  }
  
  /* ボタンをクリックしたとき、ボタンを下に移動する */
  .btn-box button:active {
    transform: translateY(0.2em);
  }
/* ●ボタン */
  .btn-box button.btn-clear {
    display: inline-block;
    text-decoration: none;
    width: 120px;
    height: 120px;
    line-height: 1px;
    border-radius: 50%;
    text-align: center;
    background-color:#ffffff;
    box-shadow: 0 0.3em 0 #c0c0c0;
    border: .2px solid #c0c0c0;
  }
/* ●ボタンのテキスト */
.btn-clear>p{
    font-size: 150px;
    color: #e50d38;
    margin: -9px;
  }
/* ●ボタンの影 */
  .btn-box button.btn-clear:active {
    box-shadow: 0 0.1em 0 #c0c0c0;
  }
/* ●ボタンの影2 */
  .btn-box button.btn-clear:active {
    box-shadow: 0 0.1em 0 #4d4d4d;
  }
/* スライダーのあるアーティストの●ボタン */
  .btn-box button.btn-clear2 {
    display: inline-block;
    text-decoration: none;
    width: 120px;
    height: 120px;
    line-height: 1px;
    border-radius: 50%;
    text-align: center;
    background-color:#ffffff;
    box-shadow: 0 0.3em 0 #c0c0c0;
    border: .2px solid #c0c0c0;
  }
/* スライダーのあるアーティストの●ボタンのテキスト */
  .btn-clear2>p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 150px;
    color: #e50d38;
    margin-top: 7px;
    margin-left: -13px;
  }
/* スライダーのあるアーティストの●ボタン影 */
  .btn-box button.btn-clear2:active {
    box-shadow: 0 0.1em 0 #c0c0c0;
  }
/* スライダーのあるアーティストの●ボタン影2 */
  .btn-box button.btn-clear2:active {
    box-shadow: 0 0.1em 0 #4d4d4d;
  }
  /* ✕ボタン */
  .btn-box button.btn-faiure {
    display: inline-block;
    text-decoration: none;
    width: 120px;
    height: 120px;
    line-height: 1px;
    border-radius: 50%;
    text-align: center;
    background-color:#ffffff;
    box-shadow: 0 0.3em 0 #c0c0c0;
    border: .2px solid #c0c0c0;
  }
  /* ✕ボタンのテキスト */
  .btn-faiure>p{
    font-size: 150px;
    margin-top: 50px;
    color: #0d4996;
  }
  /* ✕ボタンの影 */
  .btn-box button.btn-faiure:active {
    box-shadow: 0 0.1em 0 #c0c0c0;
  }
  /* ✕ボタンの影2 */
  .btn-box button.btn-faiure:active {
    box-shadow: 0 0.1em 0 #4d4d4d;
  }

/* アーティストの情報 */
table,tr,td {
    border: none;
}
th{
    padding: 30px;
}
td{
    padding: 18px;
}
table {
    margin-top: 25px;
    display: flex;
	justify-content: center;
	align-items:flex-end;
    font-size: 18px;
    font-weight: 600;
}
/* 出演動画が2個(+ショート動画)ある時 */
.float{
    display: flex;
    justify-content: center;
}
.float-left {
    margin:0 50px 0 0;
}

/* 色を変える→JKボンバーズ、代表曲なし */
.color_change {
    color: rgb(143, 140, 132);
    font-weight: 800;
}
/* 色を変える→ぷらもでる。新メンバー */
.new {
    color: #e59e35;
    white-space: nowrap;
}

/* ●ボタンを押したとき表示させる */

#judge_text_clear{
    display: none;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    color: #eee;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: #e03759;
    border-radius: 40px;
}
#judge_text_clear.on{
    display: block;
}

#judge_text_clear p{
    padding: 1px;
}

/* ✕ボタンを押したとき表示させる */
#judge_text_faiure{
    display: none;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    color: #eee;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: #0d75ba;
    border-radius: 40px;
}
#judge_text_faiure.on{
    display: block;
}

#judge_text_faiure p{
    padding: 1px;
}

/* 判定お願いします */
.judge {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-align: center;
    margin-bottom: -30px !important;
}

.judge::before,
.judge::after {
	content: '';
	width: 3px;
	height: 20px;
	background-color: #f1bb44;
}

.judge::before {
	margin-right: 30px;
	transform: rotate(-35deg)
}
.judge::after {
	margin-left: 30px;
	transform: rotate(35deg)
}

/* ミュート切り替えボタン */

.mute_btn {
    cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: 20px;
    user-select: none;
    font-size: 15%;
}
.mute_text {
    background-color: rgb(171, 163, 152);
    color: #fff;
    cursor: pointer;
    min-width: 80%;
    max-height: 100%;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
	justify-content: center;
	align-items: center;
    padding: 8px;
}
.mute_text>p {
    font-size: 10vw !important;
}
.mute_btn_ctn{
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.attention{
    font-size: 10px;
    text-align: center;
}

/* 一部プロフィールページに適用される */

/* スライダー */
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider iframe {
    width:30vw;/*スライダー内の画像をレスポンシブ化*/
    height:20vw;
}

.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}

/* スライダーのあるアーティストの✕ボタン */
.btn-box button.btn-faiure2 {
    display: inline-block;
    text-decoration: none;
    width: 120px;
    height: 120px;
    line-height: 1px;
    border-radius: 50%;
    text-align: center;
    background-color:#ffffff;
    box-shadow: 0 0.3em 0 #c0c0c0;
    border: .2px solid #c0c0c0;
  }
/* スライダーのあるアーティストの✕ボタンのテキスト */
  .btn-faiure2>p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 160px;
    color: #0d4996;
    margin-left: -13px;
  }
/* スライダーのあるアーティストの✕ボタンの影 */
  .btn-box button.btn-faiure2:active {
    box-shadow: 0 0.1em 0 #c0c0c0;
  }
/* スライダーのあるアーティストの✕ボタンの影2 */
  .btn-box button.btn-faiure2:active {
    box-shadow: 0 0.1em 0 #4d4d4d;
  }

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

.Unrevealed {
    width: 30vw;
}

   @media screen and (max-width: 599px) {
    .Unrevealed {
        width: 30vw;
    }
    .recommend_MOVIE iframe {
        width: 80vw;
        height: 80vw;
    }
    .content-pic img:hover{
        transition: 1s all;
        border-radius: 6px;
        margin: 0;
    }
    .footer05 .wrap {
    width: 90%;
    box-sizing: border-box;
    color: #fcfcfc;
   }
   .wrap {
    max-width: 100%;
    box-sizing: border-box;
    color: #fcfcfc;
   }
   .footer05  {
    margin-top: 80px;
    color: #fcfcfc;
    background: #151e36;
    padding: 30px;
   }
   .hero {
    width: 100vw;
}
.content-pic {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
    gap: 13px 0px;
    list-style: none;
}
.content-pic2 img {
    width: 40vw !important;
    height: 40vw !important;
}
.content-text {
    width: 100px !important;
}
   /* .footer05 {
    margin-top: 80px;
    color: #fcfcfc;
    background: #151e36;
    padding: 30px;
   } */

   .footer05 .wrap h3 {
    border: none;
   }
   .footer05 .wrap .box {
    width: 100%;
   }
   .footer05 .wrap .box ul {
    border-top: 1px #c4c4c4 solid;
   }
   .footer05 .wrap .box ul li a {
    display: block;
    padding: 5px 15px;
    border-bottom: 1px #c4c4c4 solid;
   }
   .footer05 .wrap {
    font-size: small;
   }
   .SNS>br,.BREAK-ARTISTS>br {
    display: none;
  }
  .profile_img img {
    width: 50%;
  }
  h1 {
    margin-top: 15px;
    font-size:large;
  }
  h2 {
    margin-right: 0;
  }
  .dli-caret-circle-fill-right {
    width: 2em;
    height: 2em;
  }
  .dli-caret-circle-fill-left {
    width: 2em;
    height: 2em;
  }
  tr {
    font-size: medium;
  }
  td {
    font-size: small;
    overflow-wrap: break-word;
  }
  .movie_text {
    font-size: 2vh;
    }
  .shorts {
    width: 80%;
    height: 100%;
  }
  .OFFICIAL_SNS {
    position:relative;
}
  .images-content{
    margin: 0 auto;
    }
    #clear {
        margin-right: 50px;
    }
    .mute_btn {
        width: 200px;
    }
    .youtube_movie {
        width: 90%;
    }
    .hero {
        object-fit: cover;
        background-image: url(../img/main.jpg);
        width: 100vw;
        height: 100%;
    }
    .logo1 {
        display: inline-block;
        margin-left: 0px;
        margin-top: 350px;
    }
    .logo1 img {
        width: 50%;
    }
   .TWITTER {
        display: none;
    }
    
    /* .content-pic2 {
        margin-right: 10px;
    } */
    /* i[class^="fa"] {
        display: none;
    } */
    /* .OTHERS,.BREAK_ARTISTS,.SNS_YOUTUBE {
        margin: 0 auto;
    } */
    .ABOUT_THIS {
        display: none;
    }
    .TV {
        margin-top: -60px;
    }
    .TV_other {
        width: 80vw;
        color: rgb(89, 89, 89);
        font-size: 1.5vh;
        word-break: break-all;
        margin-left: 10px;
    }
    .OTHERS{
        margin-left: 20px;
        color: rgb(89, 89, 89);
        display: flex;
    }
    .BREAK_ARTISTS {
        margin-top: 30px;
        margin-left: 20px;
    }
    .SNS_YOUTUBE {
        margin-top: 30px;
        margin-left: 20px;
    }
    .BREAK_ARTISTS-overview{
        color: rgb(89, 89, 89);
        font-size: 1.5vh;
        word-break: break-all;
        margin-left: 10px;
        width: 80vw
    }
    .recommend_MOVIE00 {
	    padding: 0 15px 0 60px;
    }
    /* .content2 {
        width: 100%;
    } */
    .BREAK-ARTISTS {
        display: none;
    }
    .none-box ul {
        display: none;
    }
    #judge_text_clear{
        width: 80%;
    }
    #judge_text_faiure{
        width: 80%;
        font-size: 18px;
    }
    /* .judge {
        margin-bottom: 35px !important;
    }
    .attention {
        margin-bottom: 20px !important;
    } */
    .main_content {
        margin: 0 auto; 
    }
    .content-pic {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 1rem;
        gap: 13px 7px;
        list-style: none; 
    }
    .content-pic2{
        cursor: pointer;
        margin: 15px 0 0 0;
    }
    .content-text {
        font-weight: bold;
        margin-top: 12px;
        background-color: rgb(249, 252, 252);
        width:150px;
        margin: 0 auto;
        font-size: 3vmin;
    }
    .header-container img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin: 0 auto;
    }
    td {
        padding: 10px;
    }
    .slider iframe {
        width: 80%;
        height: 100%;
    }
    .profile_YOUTUBE {
        padding: 20px;
    }
    .profile_img img {
        width: 70%;
    }
    .judge {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        text-align: center;
        margin-bottom: -5px;
        margin-top: -10px;
    }
    .mute_btn_ctn {
        width: 40%;
        margin: -10px auto;
    }
    .mute_text {
        font-size: 10px;
    }
    .attention {
        margin: -30px auto -20px auto;
    }
    #judge_text_clear {
        width: 100%;
        font-size: 1em;
    }
    #judge_text_clear p {
        padding: 0;
        margin: 0 auto;
    }
    #judge_text_faiure {
        width: 100%;
        font-size: 1em;
    }
    #judge_text_faiure p {
        padding: 0;
        margin: 0 auto;
    }
    .recommend_MOVIE_Inista {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }
    .recommend_MOVIE_Inista iframe {
        max-width: 90%;
        height: 200px;
    }
    /* td {
        white-space: nowrap;
    }  */
    .btn-box {
        display:flex;
        justify-content: space-evenly;
        margin-top: 10px;
        padding: 10px;

    }
}

@media screen and (min-width:600px) and (max-width: 1024px) {
	/* 600px以上、1024px以下に適用されるCSS（タブレット用） */
    .twitter-timeline {
        margin: 0px auto;
        /* display: inline-block; */
        align-items: center;
        width: 85vw !important;  
    }
    .SNS_TWITTER{
        margin: 18px auto;
    }
    .OFFICIAL_SNS {
        margin-bottom: 1000px;
    }
    .OTHERS{
        margin-left: 70px;
        color: rgb(89, 89, 89);
        display: inline-block;
    }
    .TWITTER {
        margin-top: 120px;
    }
    .TV_other {
        width: 85vw;
        color: rgb(89, 89, 89);
        font-size: 1vh;
        word-break: break-all;
        margin-left: 10px;
    }
    .content-pic {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
        gap: 0px 0px;
        list-style: none;
        padding: 0 60px 0 60px;
    }
    .judge>p, .attention>p, .mute_text>p {
        text-align: center;
        padding: 0px !important;
    }
    .mute_text>p {
        font-size: 10px;
    }
    /* .mute_text {
        background-color: rgb(171, 163, 152);
        min-width: 180%;
        max-height: 150%;
        cursor: pointer;
        border-radius: 6px;
    } */
    .logo {
        margin-left: -450px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
	/* 1280px以下に適用されるCSS（タブレット用） */
    .TWITTER {
        margin-right: 80px;   
    }
    .mute_text {
        font-size: 8px;
    }
    .profile_img img {
        width: 30%;
    }
    .profile_img h1 {
        font-size: medium;
        text-align: center;
        color: #2B2D44;
        margin-top: 10px;
    }
    .judge {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        text-align: center;
        margin-bottom: -5px;
        margin-top: -10px;
    }
    .mute_btn_ctn {
        width: 100%;
        margin: -10px auto;
    }
    .mute_text {
        font-size: 6px;
    }
    .attention {
        margin: -30px auto -20px auto;
    }
    #judge_text_clear {
        width: 70%;
        font-size: 1em;
    }
    #judge_text_clear p {
        padding: 0;
        margin: 0 auto;
    }
    #judge_text_faiure {
        width: 70%;
        font-size: 1em;
    }
    #judge_text_faiure p {
        padding: 0;
        margin: 0 auto;
    }
    .recommend_MOVIE_Inista {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }
    .recommend_MOVIE_Inista iframe {
        max-width: 90%;
        height: 60%;
    }
    /* ●ボタンを押したとき表示させる */

#judge_text_clear{
    display: none;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    color: #eee;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: #e03759;
    border-radius: 40px;
}
#judge_text_clear.on{
    display: block;
}

#judge_text_clear p{
    padding: 1px;
}

/* ✕ボタンを押したとき表示させる */
#judge_text_faiure{
    display: none;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    color: #eee;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: #0d75ba;
    border-radius: 40px;
}
#judge_text_faiure.on{
    display: block;
}

#judge_text_faiure p{
    padding: 1px;
}
.footer05 {
    margin-top: 80px;
    color: #fcfcfc;
    background: #151e36;
    padding: 30px;
   }
   .footer05 a {
    color: #fcfcfc;
    text-decoration: none;
   }
   .footer05 li a:hover {
    text-decoration: underline;
   }
   .footer05 .wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }
   .footer05 .wrap h3 {
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: 1px #c4c4c4 solid;
   }
   .footer05 .wrap p {
    margin: 0;
    padding: 0 0 20px 0;
   }
   .footer05 .wrap .box {
    width: 22%;
   }
   .footer05 .wrap .box ul {
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
   }
   .footer05 .wrap .none-box {
    width: 22%;
   }
   .footer05 .wrap .none-box ul {
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
   }

}

@media screen and (min-width: 820px) and (max-width: 1180px) {

.hero {
    width: 100vw;
    background-image: url(../img/main.jpg);
    background-position: center;
    background-size: cover;
}
.logo {
    display: inline-block;
    margin-left: -450px;
    width: 50vw;
}
.footer05 {
    margin-top: 80px;
    color: #fcfcfc;
    background: #151e36;
    padding: 30px;
   }
   .twitter-timeline {
    margin: 0px auto;
    /* display: inline-block; */
    align-items: center;
    width: 85vw !important;  
}
.SNS_TWITTER{
    margin: 18px auto;
}
.OFFICIAL_SNS {
    margin-bottom: 1000px;
}
.OTHERS{
    margin-left: 70px;
    color: rgb(89, 89, 89);
    display: inline-block;
}
.TWITTER {
    margin-top: 120px;
}

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.btn-box {
        width: 40%;
        /* height: 100px;*/
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        display: flex;
        justify-content:space-between;
        user-select: none;
      }
      .mute_text>p {
        font-size: medium;
      }
}

@media screen and (min-width: 280px) and (max-width: 653px) {
    .TV,.BREAK_ARTISTS>h2,.SNS_YOUTUBE>h2 {
        width: 80vw;
    }
	#clear {
        max-width: 80%;
    }
    #judge_text_clear>p, #judge_text_faiure>p {
        font-size: 15px;
    }
    .judge {
        font-size: medium;
    }
    .btn-box {
        margin-bottom: 30px;
        text-align: center;
        display: flex;
        justify-content:space-evenly;
        user-select: none;
      }
    .movie>iframe {
        width: 80vw;
    }
}

@media screen and (min-width: 320px) and (max-width: 722px) {
    .hero {
        width: 100vw;
    }
}

@media screen and (min-width: 540px) and (max-width: 720px) {
    /* ●ボタンを押したとき表示させる */

#judge_text_clear{
    display: none;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    color: #eee;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: #e03759;
    border-radius: 40px;
}
#judge_text_clear.on{
    display: block;
}

#judge_text_clear p{
    padding: 1px;
}

/* ✕ボタンを押したとき表示させる */
#judge_text_faiure{
    display: none;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    color: #eee;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: #0d75ba;
    border-radius: 40px;
}
#judge_text_faiure.on{
    display: block;
}

#judge_text_faiure p{
    padding: 1px;
}
.hero {
    width: 100vw;
}
.footer05 {
    margin-top: 80px;
    color: #fcfcfc;
    background: #151e36;
    padding: 30px;
   }
}
@media screen and (min-width: 53px) and (max-width: 279px) {
    .hero{
        width: 100vw;
    }
    .TV,.BREAK_ARTISTS>h2,.SNS_YOUTUBE>h2 {
        width: 80vw;
    }
    .movie>iframe {
        width: 80vw;
    }
    .content-pic {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 1rem;
        gap: 13px 7px;
        list-style: none;
    }
}
